html {
  background-image: url("images/Subtle-Prism.svg");
  background-color: #222e50;
  font-size: 20px;
  color: #222e50;
  background-attachment: fixed;
  background-size: cover;
}

body {
  background-image: url("images/Subtle-Prism.svg");
  background-color: #222e50;
  font-size: 20px;
  color: #222e50;
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  margin: 0;
  padding: 5px;
}

p,
input {
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}

li {
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  text-align: left;
  padding: 10px;
}

header {
  margin: 0 0 10px 0;
  display: flex;
  flex-flow: row wrap;
  background-color: #222e50;
  color: whitesmoke;
  border-radius: 10px;
}

nav {
  flex: 50%;
  display: flex;
  color: whitesmoke;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a,
nav span {
  display: inline-block;
  font-size: 1rem;
  /* height: 2rem; */
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: whitesmoke;
}

.active {
  color: #bcffdb;
}

a {
  color: #ffa6c1;
}

footer {
  text-align: center;
  color: #222e50;
  font-family: "Roboto Condensed", sans-serif;
}

section {
  margin: 2% 15% 10% 15%;
  text-align: center;
  background-color: #222e50;
  color: whitesmoke;
  border-radius: 10px;
}

.experience {
  text-align: left;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}
