html {
  background-color: #bcffdb;
  font-size: 20px;
  color: #222e50;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: #222e50;
}

p,
input,
li {
  font-family: "Roboto Condensed", sans-serif;
  color: #222e50;
}

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  background-color: #222e50;
  color: whitesmoke;
}

nav {
  flex: 100%;
  display: flex;
  color: whitesmoke;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a,
nav span {
  display: inline-block;
  font-size: 1rem;
  height: 2rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: whitesmoke;
}

a {
  color: #ffa6c1;
}

footer {
  text-align: center;
}
